<!-- エラーメッセージ -->
<% if @rise.errors.any? %>
  <div class = "alert">
    <ul>
      <% @rise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>画像投稿</h1>
<%= form_with model: @rise, url:'/mahjong', local: true do |f| %>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %><br>
  
  <h4>オプション</h4>
  
  <% @hai = ["p1", "p2", "p3", "p4", "p5", "p6", "p7", "p8", "p9", "s1", "s2", "s3", "s4", "s5", "s6", "s7", "s8", "s9", "m1", "m2", "m3", "m4", "m5", "m6", "m7", "m8", "m9", "ton", "nan", "sya", "pe", "haku", "hatu", "tyun"] %>
  
  <%= f.select :win_title, @hai, {include_blank: '選択'}, class: 'options_select' %>
  <%= f.label :上がり牌 %>
  
  <%= f.select :dora, @hai, {include_blank: '選択'}, class: 'options_select' %>
  <%= f.label :ドラ %>
  
  <%= f.select :dora_ura, @hai, {include_blank: '選択'}, class: 'options_select' %>
  <%= f.label :裏ドラ %>
  
  <%= f.select :player_wind, {東: "ton", 南: "nan", 西: "sya", 北:"pe"}, {include_blank: '選択'}, class: 'options_select'%>
  <%= f.label :自風 %>
  
  <%= f.select :round_wind, {東: "ton", 南: "nan", 西: "sya", 北:"pe"}, {include_blank: '選択'}, class: 'options_select'%>
  <%= f.label :場風 %>
  
  <div class="field">
    <%= f.check_box :is_richi %>
    <%= f.label :リーチ %>
  </div>
  
  <div class="field">
    <%= f.check_box :is_ippatu %>
    <%= f.label :一発 %>
  </div>
  
  <div class="field">
    <%= f.check_box :is_rinshan %>
    <%= f.label :嶺上開花 %>
  </div>
  
  <div class="field">
    <%= f.check_box :is_tumo %>
    <%= f.label :ツモ %>
  </div>
  
  <div class="field">
    <%= f.check_box :melds %>
    <%= f.label :鳴き %>
  </div>
  
  <%= f.submit '投稿' %>
  
<% end %>