<!-- エラーメッセージを表示 -->
<% if @error.present? %>
 <%= @error %>
<% end %>

<!--　応答確認 -->
<% if @response_body.present?%>
  <%= @response_body %>
<% end %>

<body>
<div class ="back-scene">
<div class ="yellow-scene2">

<p>画像</p>
  <!-- 画像の表示 -->

  <% if @rise.image.attached? %>
    <%= image_tag @rise.image, size: "300x200" %><br>
  <% end %>


  <div class="orange-scene2">
  <!-- 点数の表示 -->
  <%= @score %> 点！ <br>

  <!-- 符の表示 -->
  <%= @fu[1] %>符<%= @fu[0] %>翻<br>

  </div> <!-- orange-scene2のdiv -->

  <div class="lowwhite-scene2">
  <!-- 役の表示 -->
  <% @yaku.each do |yaku| %>
    <p><%= yaku %>　1翻</p>
  <% end %>
  
  <!-- 戻るボタン -->
  <%= link_to "戻る", root_path %>
  </div> <!-- lowwhite-scene2のdiv -->
  </div> <!--  yellow-scene2のdiv -->
  </div> <!-- back-scene2のdiv -->

  <footer>
</footer>
</body>